{% extends "account/email/base_message.html" %}
{% block heading %}Reset your password{% endblock %}
{% block preheader %}Choose a new password for your BaatCheet account.{% endblock %}
{% block heading_text %}Reset your password{% endblock %}
{% block body %}
<p style="margin:0 0 12px;">Hi{% if username %} {{ username }}{% endif %},</p>
<p style="margin:0;">We received a request to reset the password for your BaatCheet account.</p>
{% endblock %}
{% block button %}{% include "account/email/_button.html" with url=password_reset_url label="Choose a new password" %}{% endblock %}
{% block after %}This link can be used once. If you didn't ask to reset your password, ignore this email: your password stays the same.{% endblock %}
